/* btn_panier.css */
.btn-cart {
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    background-color: #ff6600;
    text-decoration: none;
    border-radius: 5px;
}

.btn-cart-full {
    background-color: #119b0cb7;  /* Couleur différente quand le panier n'est pas vide */
}

.btn-cart:hover {
    background-color: #e65c00;
}

.btn-cart-full:hover {
    background-color: #119b0cb7;
}
